.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    background-color : black;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid red;
    border-radius: 1rem;
    list-style-type: none;
    margin: .5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid red;
}

ul li:last-child{
   border: none; 
}

ul li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}

ul li div{
    padding: 1rem;
}

ul li div:not(:first-child){
    flex-basis: 18%;
}

ul li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 3px solid red;
    font-size: 1.1rem;
    font-weight: 100;
}

ul .remove-button{
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    color: red;
    outline: none;
}

ul .remove-button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 35rem;
    border: 1px solid red;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkout .foods-count{
    margin-bottom: 1.5rem;
}

.checkout .foods-count::before{
    content: 'Items: ';
    color: red;
}

.checkout .total-price::before{
    content: 'Price: ';
    color: red;
}
a{
    text-decoration: none;
    color: red;
}
#b{
    color: white;
    background:red;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    padding: 10px;
    margin-left: 650px;
}
#order{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}
button:hover{
    opacity: .9;
    cursor: pointer;
}