<body style="background-color : black">
    <div id="cd" class="about">
    <h1 id="sa" style="text-align : center"><u>Order Status</u></h1><br/>
    <img src="https://thumbs.dreamstime.com/b/african-american-woman-holding-cake-sweets-pointing-thumb-up-to-side-smiling-happy-open-mouth-219592275.jpg">
    <h3 style="color: green;padding: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
     Your Order has been  Placed Succesfully ✅<br/><br/>
    </h3>
    <span>
        <button class="btn btn-info" (click)="goBack()">Go Back</button>
    </span>
  </div>
</body>
<!--Order status page-->